<%= form_with(model:condition, local:true, class:"form-group") do |form| %>
  <% if condition.errors.any? %>
    <div class="error_explanation">
      <h3><%= condition.errors.count %><%= t('view.there_are_errors') %></h3>
      <ul>
      <% condition.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-5">
    <%= f.label :retirung_time, class:"col-sm-2 col-form-label" %>
    <%= f.time_field :retirung_time, class:"form-control" %>
    <%= f.label :rising_time, class:"col-sm-2 col-form-label" %>
    <%= f.time_field :rising_time, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sleep_time, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :sleep_time, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sleep_quality, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :sleep_quality, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :meal_count, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :meal_count, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :stress_level, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :stress_level, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :toughness, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :toughness, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :stress_recovery_balance, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :stress_recovery_balance, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :positive_level, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :positive_level, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :enrichment_happiness_level, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.select :enrichment_happiness_level, 
        [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
        selected: 3,  class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :negative_comment, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.text_area :negative_comment %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :positive_comment, class:"col-sm-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.text_area :positive_comment %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-md-5">
      <%= f.submit nil, class:"btn btn-primary" %>
    </div>
  </div>

<% end %>