<% if @conditions.present? %>
  <div class="container">
    <div class="row">
      <table class="table table-bordered table-dark table-sm">
        <tr>
          <th scope="col"><%= t('view.average_score') %></th>
          <td><%= @condition_average_score.round(1) %></td>
        </tr>
      </table>

      <table class="table table-bordered table-dark table-hover table-sm">
        <thead>
          <tr>
            <th scope="col"><%= t('view.created_at') %></th>
            <th scope="col"><%= t('view.score') %></th>
            <th></th>
          </tr>
        </thead>
        <% @conditions.each do |condition| %>
        <tbody>
          <tr>
            <td scope="col"><%= l condition.created_at, format: :short  %></td>
            <td scope="col"><%= condition.sleep_time + condition.sleep_quality +
                                condition.meal_count + condition.stress_level +
                                condition.toughness + condition.stress_recovery_balance + 
                                condition.positive_level + condition.enrichment_happiness_level %></td>
            <td>
              <ul class="list-inline">
                <li class="list-inline-item" id="show-<%= condition.id %>">
                  <%= button_to condition_path(condition.id), method: :get, class:"btn btn-outline-info" do %>
                    <span><%= t('view.show')  %></span>
                  <% end %>
                </li>
                <li class="list-inline-item" id="edit-<%= condition.id %>">
                  <%= button_to edit_condition_path(condition.id), method: :get, class:"btn btn-outline-success" do %>
                    <span><%= t('view.edit') %></span>
                  <% end %>
                </li>
                <li class="list-inline-item" id="destroy-<%= condition.id %>">
                  <%= button_to condition_path(condition.id), method: :delete, class:"btn btn-outline-danger", 
                      data: { confirm: '本当に削除して良いですか？' } do %>
                    <span><%= t('view.delete') %></span>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <div class="mb-3">
        <%= paginate @conditions, theme: 'twitter-bootstrap-4' %>
        <%= page_entries_info @conditions %>
      </div>
    </div>
  </div>

  <diV class="chart-container">
    <canvas id="myLineChart"></canvas>
    <script>
      var ctx = document.getElementById("myLineChart");
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: gon.condition_created_at,
              datasets: [{
                  label: 'condition  score',
                  data: gon.condition_score,
                  backgroundColor: ['rgba(0,255,0,0.4)',],
                  borderColor: ['rgba(0,255,0,1)',],
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                        max: 40,
                        min: 0,
                        stepSize: 4
                      }
                  }]
              }
          }
      });  
    </script>
  </div>
<% else %>
<div class="pt-5"><%= t('view.no_conditions') %></div>
<% end %>

