<div class="ja-heading">
  <h3><%= t('view.condition_details') %></h3>
</div>

<table class="table table-borderless mb-3">
  <thead>
    <tr>
      <td>item</td>
      <td>number/score</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>created_at</td>
      <td><%= l @condition.created_at %><td>
    </tr>
    <tr>
      <td>retirung_rising_time</td>
      <td><%= l @condition.retirung_time, format: :hour_minitues %> - <%= l @condition.rising_time, format: :hour_minitues %><td>
    </tr>
    <tr>
      <td>sleep_time</td>
      <td><%= @condition.sleep_time %></td>
    </tr>
    <tr>
      <td>sleep_qulity</td>
      <td><%= @condition.sleep_quality %></td>
    </tr>
    <tr>
      <td>meal_count</td>
      <td><%= @condition.meal_count %></td>
    </tr>
    <tr>
      <td>stress_level</td>
      <td><%= @condition.stress_level %></td>
    </tr>
    <tr>
      <td>toughness</td>
      <td><%= @condition.toughness %></td>
    </tr>
    <tr>
      <td>stress_recovery_balance</td>
      <td><%= @condition.stress_recovery_balance %></td>
    </tr>
    <tr>
      <td>positive_level</td>
      <td><%= @condition.positive_level %></td>
    </tr>
    <tr>
      <td>enrichment_happiness_level</td>
      <td><%= @condition.enrichment_happiness_level %></td>
  </tbody>
</table>
<div class="mb-3 ml-3">
  <p>negative_comment</p><br>
  <%= @condition.negative_comment %>
</div>
<div class="mb-3 ml-3">
  <p>positive_comment</p><br>
  <%= @condition.positive_comment %>
</div>

<div class="mb-3 ml-1">
  <%= link_to "edit", edit_condition_path(@condition.id) %>
</div>
<div class="mb-3 ml-1">
  <%= link_to "index", conditions_path %>
</div>

<div id="message-area"></div>
<div id="comment-area">
<% if @condition.comment.present? %>
  <%= render partial:'comments/show', locals: { record: @condition, commented: @commented } %>
<% else %>
  <%= render partial:'comments/form', locals: { record: @condition, comment: @comment } %>
<% end %>



