<div class="container pt-1">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <%= form_with(model:record, url:choose_record_type, local:true, class:"form-group") do |f| %>
        <% if record.errors.any? %>
          <div class="error_explanation">
            <h3><%= record.errors.count %><%= t('view.there_are_errors') %></h3>
            <ul>
            <% record.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mb-3">
            <%= f.label :title, class:"control-label pl-1" %>
            <%= f.text_field :title, class:"form-control" %>
        </div>

        <% if controller_name != 'check_records' %>
          <% if action_name == 'edit' || action_name == 'update' %>
            <div class="form-group mb-3">
              <%= f.label :unit, class:"control-label pl-1" %>
              <%= f.text_field :unit, class:"form-control", placeholder: t('view.unit_create_maximum10') %>
            </div>
          <% end %>
        <% end %>

        <% if controller_name == 'integer_records' %>
          <% if action_name == 'new' || action_name == 'create' %>
            <div class="form-group mb-3">
              <%= f.label :content, class:"control-label pl-1" %>
              <%= f.number_field :content, class:"form-control" %>
              <%= f.label :unit, class:"control-label pl-1" %>
              <%= f.text_field :unit, class:"form-control", placeholder: t('view.unit_create_maximum10') %>
            </div>
          <% end %>
        <% elsif controller_name == 'decimal_records' %>
          <% if action_name == 'new' || action_name == 'create' %>
            <div class="form-group mb-3">
              <%= f.label :content, class:"control-label pl-1" %>
              <%= f.number_field :content, step:"0.001", class:"form-control" %>
              <%= f.label :unit, class:"control-label pl-1" %>
              <%= f.text_field :unit, class:"form-control", placeholder: t('view.unit_create_maximum10') %>
            </div>
          <% end %>
        <% elsif controller_name == 'time_records' %>
          <% if action_name == 'new' || action_name == 'create' %>
            <div class="form-group mb-3">
              <%= f.label :content, class:"control-label pl-1" %>
              <%= f.time_field :content, class:"form-control" %>
              <%= f.label :unit, class:"control-label pl-1" %>
              <%= f.text_field :unit, value: "時間", class:"form-control", placeholder: t('view.unit_create_maximum10') %>
            </div>
          <% end %>
        <% elsif controller_name == 'check_records' %>
          <% if action_name == 'new' || action_name == 'create' %>
            <div class="form-group mb-3">
              <%= f.hidden_field :content, class:"form-control" %>
              <%= f.hidden_field :unit, class:"form-control" %>
            </div>
          <% end %>
        <% elsif controller_name == 'count_records' %>
          <% if action_name == 'new' || action_name == 'create' %>
            <div class="form-group mb-3">
              <%= f.label :content, class:"control-label pl-1" %>
              <%= f.number_field :content, class:"form-control" %>
              <%= f.label :unit, class:"control-label pl-1" %>
              <%= f.text_field :unit, class:"form-control", placeholder: t('view.unit_create_maximum10') %>
            </div>
          <% end %>
        <% end %>

        <div class="form-group mb-3">
          <%= f.label :week_ids, t('view.implementation_day'), class:"control-label pl-1" %><br>
          <%= f.collection_check_boxes(:week_ids, Week.all, :id, :dayname ) do |b| %>
            <span class="ml-1"><%= b.label { b.check_box + b.text } %></span>
          <% end %>
          <p class="ml-2 implementation_day_explain"><%= t('view.implementation_day_explain') %></p>
        </div>

        <div class="form-group mb-3">
          <%= f.submit nil, class:"btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
