<%= form_with(model:record, url:choose_record_type, local:true, class:"form-group") do |f| %>
  <% if record.errors.any? %>
    <div class="error_explanation">
      <h3><%= record.errors.count %><%= t('view.there_are_errors') %></h3>
      <ul>
      <% record.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-6">
    <%= f.label :title, class:"col-sm-2 col-form-label" %>
    <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>

  <% if controller_name == 'integer_records' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.number_field :content, class:"form-control" %>
        <%= f.label :unit, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :unit, class:"form-control" %>
      </div>
    </div>
  <% elsif controller_name == 'decimal_records' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.number_field :content, step:"0.1", class:"form-control" %>
        <%= f.label :unit, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :unit, class:"form-control" %>
      </div>
    </div>
  <% elsif controller_name == 'time_records' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.time_field :content, class:"form-control" %>
        <%= f.label :unit, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :unit, value: "分", class:"form-control" %>
      </div>
    </div>
  <% elsif controller_name == 'check_records' %>
    <% if action_name == 'new' || action_name == 'create' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.hidden_field :content, class:"form-control" %>
        <%= f.hidden_field :unit, class:"form-control" %>
      </div>
    </div>
    <% elsif action_name == 'edit' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.check_box :content, class:"form-control" %>
        <%= f.hidden_field :unit, class:"form-control" %>
      </div>
    </div>
    <% end %>

  <% elsif controller_name == 'count_records' %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :content, class:"col-sm-2 col-form-label" %>
        <%= f.number_field :content, class:"form-control" %>
        <%= f.label :unit, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :unit, class:"form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-6">
    <%= f.label :week_ids, class:"col-sm-2 col-form-label" %>
    <%= f.collection_check_boxes(:week_ids, Week.all, :id, :dayname ) %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-md-5">
      <%= f.submit nil, class:"btn btn-primary" %>
    </div>
  </div>

<% end %>
