<h3 class="ja-heading"><%= t('view.record_details') %></h3>

<table class="table table-borderless mb-3">
  <tbody>
    <tr>
      <td><%=t('view.title') %></td>
      <td><%= record.title %></td>
    </tr>
    <tr>
      <td><%= t('view.content') %></td>
      <td>
        <% if record.type == "IntegerRecord" %>
          <%= record.content.to_s(:delimited) %><span class="ml-1"><%= record.unit %></span>
        <% elsif record.type == "CheckRecord" %>
          <% if record.content == true %>
            <p><%= t('view.check_true') %></p>
          <% elsif record.content == false %>
            <p><%= t('view.check_false') %></p>
          <% end %>
        <% else %>
          <%= record.content %><span class="ml-1"><%= record.unit %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t('view.type') %></td>
      <td>
        <% if record.type == "IntegerRecord" %>
          <%= t('view.integer_record') %>
        <% elsif record.type == "DecimalRecord"%>
          <%= t('view.decimal_record') %>
        <% elsif record.type == "TimeRecord"%>
          <%= t('view.time_record') %>
        <% elsif record.type == "CheckRecord"%>
          <%= t('view.check_record') %>
        <% elsif record.type == "CountRecord"%>
          <%= t('view.count_record') %>
        <% end %>
      </td>
    <tr>
      <td><%=t('view.implementation_day') %></td>
    <% implementation_day = Week.where(id: record.week_ids) %>
    <% record_implementation_day = [] %>
    <% implementation_day.each do |day| %>
      <% record_implementation_day << day.dayname %>
    <% end %>
      <td>
        <% record_implementation_day.each do |day| %>
        <li class="implementation-day"><%= day %></li>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div id="message-area"></div>
<div id="comment-area">
<% if record.comment.present? %>
    <%= render partial:'comments/show', locals: { record: record, commented: commented } %>
<% else %>
    <%= render partial:'comments/form', locals: { record: record, comment: comment } %>
<% end %>
</div>

