<div class="spece">
  <h3><%= t('view.condition_details') %></h3>
</div>

<div>
  <%= record.title %>
</div>
<div>
  <%= record.content %><%= record.unit %>
</div>
<div>
  <% implementation_day = Week.where(id: record.week_ids) %>
  <% record_implementation_day = [] %>
    <% implementation_day.each do |day| %>
      <% record_implementation_day << day.dayname %>
    <% end %>
    <% record_implementation_day.each do |day| %>
      <li><%= day %></li>
    <% end %>
</div>

<% if record.comment.present? %>
<div id="record-comment-<%= record.id %>">
  <div>
    <%= record.comment.content %>
    <%= button_to edit_comment_path(@commented.id), method: :get, class:"btn btn-outline-info" do %>
        <i class="fa fa-edit" aria-hidden="true"></i>
    <% end %>
    <%= button_to comment_path(@commented.id), method: :delete,class:"btn btn-outline-danger", 
        data: { confirm: '本当に削除して良いですか？' } do %>
        <i class="fa fa-trash"></i>              
    <% end %>
</div>
<% else %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with(model: [@record, @comment],local:true ) do |f| %>
        <%= f.label :content, t('.comment')%>
        <%= f.text_area :content, class: "form-control mb-3", placeholder: "コメント" , rows: "4" %>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>