<h3 class="ja-heading"><%= t('view.setting_record') %></h3>

<div class="container">
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="integer-record-btn">
      <%= button_to new_integer_record_path, method: :get, class:"btn btn-outline-info record-link" do %>
        <span><%= t('view.integer_record')  %></span>
        <p class="mt-2 record-example"><%= t('view.integer_record_explanation') %><br>
        <%= t('view.integer_record_example') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="decimal-record-btn">
      <%= button_to new_decimal_record_path, method: :get, class:"btn btn-outline-info record-link" do %>
        <span><%= t('view.decimal_record')  %></span>
        <p class="mt-2 record-example"><%= t('view.decimal_record_explanation') %><br>
        <%= t('view.decimal_record_example') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="time-record-btn">
      <%= button_to new_time_record_path, method: :get, class:"btn btn-outline-info record-link" do %>
        <span><%= t('view.time_record')  %></span>
        <p class="mt-2 record-example"><%= t('view.time_record_explanation') %><br>
        <%= t('view.time_record_example') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="check-record-btn">
      <%= button_to new_check_record_path, method: :get, class:"btn btn-outline-info record-link" do %>
        <span><%= t('view.check_record')  %></span>
        <p class="mt-2 record-example"><%= t('view.check_record_explanation') %><br>
        <%= t('view.check_record_example') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="count-record-btn">
      <%= button_to new_count_record_path, method: :get, class:"btn btn-outline-info record-link" do %>
        <span><%= t('view.count_record')  %></span>
        <p class="mt-2 record-example"><%= t('view.count_record_explanation') %><br>
        <%= t('view.count_record_example') %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 ml-2 record-link" id="automatic-record-btn">
      <%= button_to automatic_records_path, method: :get, class:"btn btn-outline-warning record-link automa-btn" do %>
        <span><%= t('view.automatic_record')  %></span>
      <% end %>
    </div>
  </div>
</div>

<div>
  <table class="table table-bordered table-hover" style="table-layout:fixed;width:100%;">
    <colgroup>
      <col style="width:20%;">
      <col style="width:24%;">
      <col style="width:30%;">
      <col style="width:26%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col"><%= t('view.title') %></th>
        <th scope="col"><%= t('view.content') %></th>
        <th scope="col"><%= t('view.implementation_day') %></th>
        <th></th>
      </tr>
    </thead>
    <% @records.each do |record| %>
    <tbody>
      <tr id="record-<%= record.id %>">
        <td scope="col" style="word-wrap:break-word;" >
          <span id="record-link-<%= record.id %>"><%= link_to record.title, record_type(record.type, record.id) %></span>
        </td>
        <td scope="col">
          <% if record.type == 'CheckRecord' %>
            <div id="check_button_<%= record.id %>">
              <% if record.content == true %>
                <p><%= t('view.check_true') %></p>
              <% elsif record.content == false %>
                <p><%= t('view.check_false') %></p>
              <% end %>
            </div>
          <% else %>
            <div id="update_content_<%= record.id %>">
              <%= render partial:'setting_records/index', locals: { record: record } %>
            </div>
          <% end %>
        </td>
        <% implementation_day = Week.where(id: record.week_ids) %>
        <% record_implementation_day = [] %>
        <% implementation_day.each do |day| %>
          <% record_implementation_day << day.dayname %>
        <% end %>
        <td scope="col">
          <% record_implementation_day.each do |day| %>
            <li class="implementation-day"><%= day %></li>
          <% end %>
        </td>
        <td scope="col">
          <ul class="list-inline float-right">
            <li class="list-inline-item">
              <%= button_to edit_record_type(record.type, record.id), method: :get, class:"btn btn-outline-info" do %>
                <i class="fa fa-cog" aria-hidden="true"></i>              
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= button_to record_type(record.type, record.id), method: :delete, remote: true, class:"btn btn-outline-danger", 
                  data: { confirm: '本当に削除して良いですか？' } do %>
                <i class="fa fa-trash"></i>              
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
<div class="mb-3">
  <%= paginate @records %>
  <%= page_entries_info @records %>
</div>


