<h3>setting_record</h3>

<div class="">
  <%= button_to new_integer_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('integer_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_decimal_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('decimal_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_time_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('time_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_check_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('check_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_count_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('count_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">content</th>
        <th scope="col">day</th>
        <th></th>
      </tr>
    </thead>
    <% @records.each do |record| %>
    <tbody>
      <tr id="record-<%= record.id %>">
        <td scope="col"><%= record.title  %></td>
        <td scope="col">
          <% if record.type == "CountRecord" %>
            <div id="count_button_<%= record.id %>">
              <%= render partial:'count_records/count', locals: { record: record } %>
            </div>
          <% elsif record.type == 'CheckRecord' %>
            <div id="check_button_<%= record.id %>">
              <%= render partial:'check_records/check', locals: { record: record } %>
            </div>
          <% else %>
            <div id="update_content_<%= record.id %>">
              <%= render partial:'setting_records/index', locals: { record: record } %>
            </div>
          <% end %>
        </td>
        <% implementation_day = Week.where(id: record.week_ids) %>
        <% record_implementation_day = [] %>
        <% implementation_day.each do |day| %>
          <% record_implementation_day << day.dayname %>
        <% end %>
        <td scope="col">
          <% record_implementation_day.each do |day| %>
            <li><%= day %></li>
          <% end %>
        </td>
        <td>
          <ul>
            <li>
              <% if record.type == "IntegerRecord" || record.type == 'DecimalRecord' || record.type == 'TimeRecord'%>
                <%= button_to edit_record_type(record.type, record.id), method: :get, remote: true, class:"btn btn-outline-success" do %>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= button_to edit_record_type(record.type, record.id), method: :get, class:"btn btn-outline-info" do %>
                <i class="fa fa-cog" aria-hidden="true"></i>              
              <% end %>
            </li>
            <li class=>
              <%= button_to record_type(record.type, record.id), method: :delete, remote: true,　class:"btn btn-outline-danger", 
                  data: { confirm: '本当に削除して良いですか？' } do %>
                <i class="fa fa-trash"></i>              
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

