<h3>setting_record</h3>

<div class="">
  <%= button_to new_integer_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('integer_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_decimal_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('decimal_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_time_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('time_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_check_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('check_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>
<div class="">
  <%= button_to new_count_record_path, method: :get, class:"btn btn-outline-info" do %>
    <span><%= t('count_record')  %></span>
    <div>説明文</div>
  <% end %>
</div>