<%= link_to "condition一覧", conditions_path, class: "btn btn-primary"  %>
<%= form_with(url: top_index_path, method: :get, local:true, class:"") do |f| %>
  <%= f.label :date_condition %>
  <%= f.date_field :date_condition, value: @date %>
  <%= f.submit nil, class:"btn btn-primary" %>
<% end %>

<% if @condition.present? %>
  <div>
    today condition score<%= @condition_score %> / 
    condition average score<%= @condition_average_score %>
  </div>
  <div>
  <%= l @condition.retirung_time, format: :hour_minitues %> - <%= l @condition.rising_time, format: :hour_minitues %>
 </div>

  <div>
    <%= @condition.sleep_time %>
  </div>

<div>
  <%= @condition.sleep_quality %>
</div>

<div>
  <%= @condition.meal_count %>
</div>

<div>
  <%= @condition.stress_level %>
</div>

<div>
  <%= @condition.toughness %>
</div>

<div>
  <%= @condition.stress_recovery_balance %>
</div>

<div>
  <%= @condition.positive_level %>
</div>

<div>
  <%= @condition.enrichment_happiness_level %>
</div>

<div>
  <%= @condition.negative_comment %>
</div>

<div>
  <%= @condition.positive_comment %>
</div>

<diV class="chart-container">
<canvas id="myChart"></canvas>
<script>
window.onload = function() {
    ctx = document.getElementById("myChart").getContext("2d");
    window.myChrt = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: [
            "睡眠時間", "睡眠の質", "食事回数", "ストレス度", "タフ度",
            "ストレスと回復のバランス", "ポジティブ度", "幸福・充実度"
          ],
          datasets: [{
            label: 'today_condition',
            backgroundColor: "rgba(102,204,255,0.3)",
            borderColor: "rgba(102,204,255,1)",
            data: gon.value
          }, {
            label: 'average_condition',
            backgroundColor: "rgba(255,204,204,0.3)",
            borderColor: "rgba(255,204,204,1)",
            data: gon.average_value           }]
        },
        options: {
          scale: {
            ticks: {
                suggestedMin: 0,
                suggestedMax: 5,
                stepSize: 1
            }
          }
        }
    });
};
</script>
</div>

<%= link_to "状態チェック編集", edit_condition_path(@condition.id) %>


<% else %>
  <div>状態チェックはありません</div>
<%end%>

<div>今日の実施予定記録</div>
<% if @today_records.present? %>
<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">content</th>
        <th></th>
      </tr>
    </thead>
    </thead>
    <% @today_records.each do |record| %>
    <tbody>
      <tr id="record-<%= record.id %>">
        <td scope="col">
          <%= link_to record.title, record_type(record.type, record.id) %></td>
        </td>
        <td scope="col">
          <% if record.type == "CountRecord" %>
            <div id="count_button_<%= record.id %>">
              <%= render partial:'count_records/count', locals: { record: record } %>
            </div>
          <% elsif record.type == 'CheckRecord' %>
            <div id="check_button_<%= record.id %>">
              <%= render partial:'check_records/check', locals: { record: record } %>
            </div>
          <% else %>
            <div id="update_content_<%= record.id %>">
              <%= render partial:'setting_records/index', locals: { record: record } %>
            </div>
          <% end %>
        </td>
        <td>
          <ul>
            <li>
              <% if record.type == "IntegerRecord" || record.type == 'DecimalRecord' || record.type == 'TimeRecord'%>
                <%= button_to edit_record_type(record.type, record.id), method: :get, remote: true, class:"btn btn-outline-success" do %>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= button_to edit_record_type(record.type, record.id), method: :get, class:"btn btn-outline-info" do %>
                <i class="fa fa-cog" aria-hidden="true"></i>              
              <% end %>
            </li>
            <li class=>
              <%= button_to record_type(record.type, record.id), method: :delete, remote: true,　class:"btn btn-outline-danger", 
                  data: { confirm: '本当に削除して良いですか？' } do %>
                <i class="fa fa-trash"></i>              
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>

    <% end %>
  </table>
  <% else %>
    <div>今日実施予定の記録はありません</div>
<% end %>

