<%= link_to "condition一覧", conditions_path, class: "btn btn-primary"  %>
<%= form_with(url: top_index_path, method: :get, local:true, class:"") do |f| %>
  <%= f.label :date_condition %>
  <%= f.date_field :date_condition, value: @date %>
  <%= f.submit nil, class:"btn btn-primary" %>
<% end %>

<% if @condition.present? %>
  <div>
    today condition score<%= @condition_score %> / 
    condition average score<%= @condition_average_score %>
  </div>
  <div>
  <%= l @condition.retirung_time, format: :hour_minitues %> - <%= l @condition.rising_time, format: :hour_minitues %>
 </div>

  <div>
    <%= @condition.sleep_time %>
  </div>

<div>
  <%= @condition.sleep_quality %>
</div>

<div>
  <%= @condition.meal_count %>
</div>

<div>
  <%= @condition.stress_level %>
</div>

<div>
  <%= @condition.toughness %>
</div>

<div>
  <%= @condition.stress_recovery_balance %>
</div>

<div>
  <%= @condition.positive_level %>
</div>

<div>
  <%= @condition.enrichment_happiness_level %>
</div>

<div>
  <%= @condition.negative_comment %>
</div>

<div>
  <%= @condition.positive_comment %>
</div>

<diV class="chart-container">
<canvas id="myChart"></canvas>
<script>
window.onload = function() {
    ctx = document.getElementById("myChart").getContext("2d");
    window.myChrt = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: [
            "睡眠時間", "睡眠の質", "食事回数", "ストレス度", "タフ度",
            "ストレスと回復のバランス", "ポジティブ度", "幸福・充実度"
          ],
          datasets: [{
            label: 'today_condition',
            backgroundColor: "rgba(102,204,255,0.3)",
            borderColor: "rgba(102,204,255,1)",
            data: gon.value
          }, {
            label: 'average_condition',
            backgroundColor: "rgba(255,204,204,0.3)",
            borderColor: "rgba(255,204,204,1)",
            data: gon.average_value           }]
        },
        options: {
          scale: {
            ticks: {
                suggestedMin: 0,
                suggestedMax: 5,
                stepSize: 1
            }
          }
        }
    });
};
</script>
</div>

<%= link_to "状態チェック編集", edit_condition_path(@condition.id) %>


<% else %>
  <div>状態チェックはありません</div>
<%end%>


<% if @today_records.present? %>
<div>今日の記録</div>
<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">content</th>
        <th></th>
      </tr>
    </thead>
    </thead>
    <% @today_records.each do |record| %>
      <% @record_type = record.type %>
      <% @record_id = record.id %>
    <tbody>
      <tr>
        <td scope="col"><%= record.title  %></td>
        <td scope="col"><%= record.content %><%= record.unit %></td>
        <td>
          <ul>
            <li>
              <%= button_to edit_record_type, method: :get, class:"btn btn-outline-success" do %>
                <span><%= t('view.edit') %></span>
              <% end %>
            </li>
            <li class="task-btn">
              <%= button_to record_type, method: :delete, class:"btn btn-outline-danger", 
                  data: { confirm: '本当に削除して良いですか？' } do %>
                <span><%= t('view.delete') %></span>
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>

