<div class="container pt-1">
  <div class="row">
    <div class="col-sm-12">
      <%= form_with(url: top_index_path, method: :get, local:true, class:"") do |f| %>
        <%= f.label :date_condition, t('view.date') %>
        <%= f.date_field :date_condition, value: @date %>
        <%= f.submit t('view.search'), class:"btn btn-primary" %>
      <% end %>
 
      <% if @condition.present? %>
        <div class="mb-3 mt-3">
          <%= t('view.today_score') %><span><%= @condition_score %></span> / 
          <%= t('view.average_score') %><span><%= @condition_average_score.round(1) %></span>
        </div>
        <div class="col-sm-12 mb-3">
          <diV class="chart-container">
          <canvas id="myChart" width="400" height="300"></canvas>
          <script>
          window.onload = function() {
              ctx = document.getElementById("myChart").getContext("2d");
              window.myChrt = new Chart(ctx, {
                  type: 'radar',
                  data: {
                    labels: [
                      "睡眠時間", "睡眠の質", "食事回数", "ストレス度", "タフ度",
                      "ストレスと回復のバランス", "ポジティブ度", "幸福・充実度"
                    ],
                    datasets: [{
                      label: 'today_condition',
                      backgroundColor: "rgba(102,204,255,0.3)",
                      borderColor: "rgba(102,204,255,1)",
                      data: gon.value
                    }, {
                      label: 'average_condition',
                      backgroundColor: "rgba(255,204,204,0.3)",
                      borderColor: "rgba(255,204,204,1)",
                      data: gon.average_value           }]
                  },
                  options: {
                    scale: {
                      ticks: {
                          suggestedMin: 0,
                          suggestedMax: 5,
                          stepSize: 1
                      }
                    }
                  }
              });
          };
          </script>
          </div>
        </div>
        <div id="aid mb-3">
          <div class="mb-1">
            <%= t('view.negative_comment') %><br><%= @condition.negative_comment %>
          </div>

          <div class="mb-1">
            <%= t('view.positive_comment') %><br><%= @condition.positive_comment %>
          </div>
        </div>
      <% else %>
        <div class="mb-3 mt-3"><%= t('view.no_conditions') %></div>
      <%end%>

      <div class="line mt-1 mb-1"></div>
      <div class="mt-3"><%= t('view.today') %>(<%= @dayname %>)<%= t('view.implementation_day_plans_record') %></div>
      <% if @today_records.present? %>
      <div>
        <table class="table table-hover" style="table-layout:fixed;width:100%;">
          <colgroup>
            <col style="width:20%;">
            <col style="width:30%;">
            <col style="width:50%;">
          </colgroup>
          <% @today_records.each do |record| %>
          <tbody>
            <tr id="record-<%= record.id %>">
              <td style="word-wrap:break-word;">
                <%= link_to record.title, record_type(record.type, record.id) %></td>
              </td>
              <td>
                <div id="message-area-<%= record.id %>"></div>
                <% if record.type == "CountRecord" %>
                  <div id="count_button_<%= record.id %>">
                    <%= render partial:'count_records/count', locals: { record: record } %>
                  </div>
                <% elsif record.type == 'CheckRecord' %>
                  <div id="check_button_<%= record.id %>">
                    <%= render partial:'check_records/check', locals: { record: record } %>
                  </div>
                <% else %>
                  <div id="update_content_<%= record.id %>">
                    <%= render partial:'setting_records/index', locals: { record: record } %>
                  </div>
                <% end %>
              </td>
              <td>
                <ul class="list-inline float-right">
                  <li class="list-inline-item" id="content-edit-<%= record.id %>">
                    <% if record.type == "IntegerRecord" || record.type == 'DecimalRecord' || record.type == 'TimeRecord'%>
                      <%= button_to edit_record_type(record.type, record.id), method: :get, remote: true, class:"btn btn-outline-success" do %>
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="list-inline-item" id="edit-<%= record.id %>">
                    <%= button_to edit_record_type(record.type, record.id), method: :get, class:"btn btn-outline-info" do %>
                      <i class="fa fa-cog" aria-hidden="true"></i>              
                    <% end %>
                  </li>
                  <li class="list-inline-item" id="destroy-<%= record.id %>">
                    <%= button_to record_type(record.type, record.id), method: :delete, remote: true, class:"btn btn-outline-danger", 
                        data: { confirm: '本当に削除して良いですか？' } do %> 
                        <i class="fa fa-trash-alt"></i>              
                    <% end %>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <% else %>
          <div><%= t('view.not_today_implementation_day_plans_record') %></div>
      <% end %>
    </div>
  </div>
</div>


