<div class="container pt-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2 class="mb-3 ja-heading text-center"><%= t('.sign_up') %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="mb-3">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="mb-3 form-group">
          <%= f.label :email, class: "control-label pl-1" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3 form-group">
          <%= f.label :name, class: "control-label pl-1" %><br />
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="mb-3 form-group">
          <%= f.label :password, class: "control-label pl-1" %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",
                                class: "form-control", placeholder: t('view.password_limit') %>
        </div>

        <div class="mb-3 form-group">
          <%= f.label :password_confirmation, class: "control-label pl-1" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                class: "form-control", placeholder: t('view.password_limit') %>
        </div>

        <div class="mb-3">
          <%= f.submit t('.sign_up'), class: "btn btn-secondary" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
 