<div class="container pt-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2 class="mb-3 ja-heading text-center"><%= t('.forgot_your_password') %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="mb-3">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="mb-3 form-group">
          <%= f.label :email, class: "control-label pl-1" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-secondary" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
