<div class="container pt-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2 class="mb-3 heading text-center"><%= t('.login') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3 form-group">
          <%= f.label :email, class: "control-label pl-1" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3 form-group">
          <%= f.label :password, class: "control-label pl-1" %><br />
          <%= f.password_field :password, autocomplete: "current-password",
                                class: "form-control", placeholder: "半角英数字6文字以上" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3 form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.submit t('.sign_in'), class: "btn btn-secondary" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
